$fontSize: 14px;
$paddingWidthFactor: 1.5;
$paddingHeightFactor: 1.1;

$bandHeight: 250px;
$borderpx: 3px;
$bothborderpx: 2*$borderpx;
$darkGrey: rgb(64, 64, 64);
$galleryWidth: 84%;
$gutterpx: 4px;
$negativeSign: "-";
$sideMargin: 5px;
$plusButtonWidth: 13%;
$verticalGutterpx: 8px;
