//$fontSize: 14px;

@import 'variables';  //importing the "partial" for variables (_variables.scss)

.gallery {
	width: $galleryWidth;
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
}

.gutter{
	margin-top: $gutterpx;
}

.verticalGutter{
	padding: 0px $verticalGutterpx;
}

.plusButton {
	width: $plusButtonWidth;
	display: flex;
	align-items: stretch;
	justify-content: center;
	box-sizing: border-box;
}

.right {
	margin-right: $sideMargin;
}

.left {
	margin-left: $sideMargin;

	&.light {
		margin-left: 2 * $borderpx + $sideMargin;
	}
}

.wrapper {
	display: flex;
	justify-content: flex-end;
}

.outerWrapper {
	height: $bandHeight;
}

.dark {
	background-color: $darkGrey;
	color: hsl(160, 0, 240);
}

.light {
	background-color: rgb(254, 254, 254);
	border: $borderpx solid $darkGrey;
	color: $darkGrey;
}

.imgPreview {
	height: $galleryImageHeight;
	width: $galleryImageWidth;
	// z-index: -1;
}

.button {
	border: 0px;
	font-size: 200px;

		&:hover {
			cursor: pointer;
	}
}

#headerWrapper {
	height: $headerHeight;
	font-family: 'Tangerine';
	font-size: 48px;
	font-style: bold;

	& .plusButton{
		font-size: 30px;
	}
}

input[type="file"] { //this is done so the choose file button is off-screen, because I auto-click it from the plus button using jquery
	margin-left: -10000px;
}

.deleteX {
	// color: black;
	margin-left: 1px;
	// margin-top: -20px;

	&:hover {
		cursor: pointer;
		color: red;
	}
}

.imageWrapper {
	display: flex;
	align-items: flex-start;
	// z-index: 1;
}

.hidden {
	display: none;
}

.plusButtonHidden {
	width: $galleryWidth + $plusButtonWidth;
	// box-sizing: border-box;
	// width: 100%;
}