//$fontSize: 14px;

@import 'variables';  //importing the "partial" for variables (_variables.scss)

.hidden {
	display: none;
}

.gallery {
	width: $galleryWidth;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.gutter{
	margin-top: $gutterpx;
}

.verticalGutter{
	padding: 0px $verticalGutterpx;
}

.plusButton {
	width: $plusButtonWidth;
	display: flex;
	align-items: stretch;
	justify-content: center;

	&.light {
		margin-left: -3px;
	}
}

.right {
	margin-right: $sideMargin;
}

.left {
	margin-left: $sideMargin;

	&.light {
		margin-left: 2 * $borderpx + $sideMargin;
	}
}

.outerWrapper {
	display: flex;
	justify-content: flex-end;
	height: $bandHeight;
}

.dark {
	background-color: $darkGrey;
	color: hsl(160, 0, 240);
}

.light {
	background-color: rgb(254, 254, 254);
	border: $borderpx solid $darkGrey;
	color: $darkGrey;
}

img {
		// justify-content: space-around;
}

.button {
	border: 0px;
	font-size: 200px;

		&:hover {
			cursor: pointer;
	}
}